html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

body {
    background-image: url('question_mark.jpg');
    background-size: 100%;
}
.well{
    background-color: rgba(245, 245, 245, 0.7);
}